
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 70px;
   
   background-color: #277045;
   
   

}
table {
    border-collapse: collapse;
    width: 100%;
    
    margin: 0 auto;
  }
  th, td {
    text-align: left;
    
    padding: 8px;
    
  }